name: CI - Docker Compose Project

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build and start containers
        run: docker compose up -d --build

      - name: Wait for services
        run: sleep 10

      - name: Show container status
        run: docker compose ps

      - name: Fail if web container is not running
        run: |
          docker compose ps | grep web | grep -v "Up"
